@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 250 250 250;
    --surface-100: 244 244 245;
    --surface-200: 228 228 231;
    --surface-300: 212 212 216;
    --surface-400: 161 161 170;
    --surface-500: 113 113 122;
    --surface-600: 82 82 91;
    --surface-700: 63 63 70;
    --surface-800: 39 39 42;
    --surface-900: 24 24 27;
    --surface-950: 9 9 11;

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
}
.dark{
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}



@layer base {
    body {
        @apply relative z-1 bg-whiten font-satoshi text-base font-normal text-body dark:text-bodydark dark:bg-boxdark-2;
    }
}


@layer components {
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
    @apply opacity-100;
}

.tableCheckbox:checked ~ div {
    @apply border-primary bg-primary;
}

.apexcharts-legend-text {
    @apply !text-body dark:!text-bodydark;
}

.apexcharts-text {
    @apply !fill-body dark:!fill-bodydark;
}

.apexcharts-xcrosshairs {
    @apply !fill-stroke dark:!fill-strokedark;
}

.apexcharts-gridline {
    @apply !stroke-stroke dark:!stroke-strokedark;
}

.apexcharts-series.apexcharts-pie-series path {
    @apply dark:!stroke-transparent;
}

.apexcharts-legend-series {
    @apply !inline-flex gap-1.5;
}

.apexcharts-tooltip.apexcharts-theme-light {
    @apply dark:!border-strokedark dark:!bg-boxdark;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    @apply dark:!border-strokedark dark:!bg-meta-4;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
    @apply dark:!border-meta-4 dark:!bg-meta-4 dark:!text-bodydark1;
}

.apexcharts-xaxistooltip-bottom:after {
    @apply dark:!border-b-meta-4;
}

.apexcharts-xaxistooltip-bottom:before {
    @apply dark:!border-b-meta-4;
}

.apexcharts-tooltip-series-group {
    @apply !pl-1.5;
}

.flatpickr-wrapper {
    @apply w-full;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    @apply !fill-primary;
}

.flatpickr-calendar.arrowTop:before {
    @apply dark:!border-b-boxdark;
}

.flatpickr-calendar.arrowTop:after {
    @apply dark:!border-b-boxdark;
}

.flatpickr-calendar {
    @apply !p-6 dark:!bg-boxdark dark:!text-bodydark dark:!shadow-8 2xsm:!w-auto;
}

.flatpickr-day {
    @apply dark:!text-bodydark dark:hover:!bg-meta-4 dark:hover:!border-meta-4;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    @apply !top-7 dark:!fill-white dark:!text-white;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    @apply !left-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    @apply !right-7;
}

span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
    @apply dark:!fill-white dark:!text-white;
}

.flatpickr-day.inRange {
    box-shadow: -5px 0 0 #F3F4F6,
    5px 0 0 #F3F4F6 !important;
    @apply dark:!shadow-7;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    @apply !border-[#F3F4F6] !bg-[#F3F4F6] dark:!border-meta-4 dark:!bg-meta-4;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
    @apply dark:!text-white;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #3c50e0;
    @apply !border-primary !bg-primary hover:!border-primary hover:!bg-primary;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 #3c50e0;
}

.map-btn .jvm-zoom-btn {
    @apply flex h-7.5 w-7.5 items-center justify-center rounded border border-stroke bg-white px-0 pt-0 pb-0.5 text-2xl leading-none text-body hover:border-primary hover:bg-primary hover:text-white dark:border-strokedark dark:text-bodydark dark:bg-meta-4 dark:hover:border-primary dark:hover:text-white dark:hover:bg-primary;
}

.mapOne .jvm-zoom-btn {
    @apply left-auto !top-auto bottom-0;
}

.mapOne .jvm-zoom-btn.jvm-zoomin {
    @apply right-10;
}

.mapOne .jvm-zoom-btn.jvm-zoomout {
    @apply right-0;
}

.taskCheckbox:checked ~ .box span {
    @apply opacity-100;
}

.taskCheckbox:checked ~ p {
    @apply line-through;
}

.taskCheckbox:checked ~ .box {
    @apply border-primary bg-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
    background: transparent;
}

input[type='search']::-webkit-search-cancel-button {
    @apply appearance-none;
}

.custom-input-date::-webkit-calendar-picker-indicator {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
    background-image: url(../images/icon/icon-calendar.svg);
}

.custom-input-date-2::-webkit-calendar-picker-indicator {
    background-image: url(../images/icon/icon-arrow-down.svg);
}

[x-cloak] {
    display: none !important;
}

body{
    background-color: #fae1ff;
}

.main{
    min-height: 350px;
    background-image: url('/images/fon/bg2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.f_icon{
    max-width: 1rem;
    max-height: 1rem;
    width: 1rem;
    fill: #444;
}

.soc_icon .f_icon{
    max-width: 1.3rem;
    max-height: 1.3rem;
    width: 1.3rem;
    fill: #fff;
}



.s_sidebar{

}
.s_sidebar h3{

}
.cat_container{
  background-color: transparent;
}
.cat_item{
  cursor: pointer;
  padding: 0.3rem 0;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid rgba(255, 123, 0, 0.5);
  position: relative;
  transition: 0.2s;
  overflow: hidden;
}
.cat_item.active{
  background-color: rgb(255, 123, 0);
  color: #fff;
  border-radius: 0.25rem;
  padding-left: 2rem;
}
.cat_item .img{
  position: absolute;
  top: .5rem;
  left: -2rem;
  width: 1rem;
  transition: 0.3s;
}
.cat_item.active .img, .cat_item:hover .img{
  left: 0.5rem;
}

.cat_item:not(.active):hover{
  background-color: rgba(255, 123, 0, 0.2);
  color: rgb(192, 93, 0);
  border-radius: 0.25rem;
  padding-left: 2rem;
}
.p_item{
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.p_img{
  height: 200px;
  overflow: hidden;
}
.p_img img{
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.p_item:hover .p_img img{
  transform: scale(1.1) rotate(4deg);
}
.p_name{
  line-height: 1.2rem;
  border-bottom: 1px dashed orange;
}
.p_star svg{
  width: 1rem;
}
.p_button{
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 132, 0, 0.1);
  width: 9rem;
  color: rgb(44, 44, 44);
  /* font-weight: bold; */
  /* border: 2px solid rgba(255, 85, 0, 0.457); */
  
  text-align: center;
}

.p_scart svg{width: 1rem; fill: #fff}
.p_scart{
  display: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}
.p_button:hover{
  background-color: rgba(255, 132, 0, 1);;
}
.p_button:hover .p_price{display: none;}
.p_button:hover .p_scart{display: flex;}


.home{
    color: #ff6600;
    opacity: 0.7;
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s;
  }  
  .home svg{
    width: 0.9rem; 
    fill: #ff6600;
    margin-right: 0.3rem;
  }
  .home:hover{
    opacity: 1;
    filter: grayscale(0);
  }

  .t_img_item{
    cursor: pointer;
    border: 2px solid transparent;
  }
  .t_img_item.active{
    border-color: #ff6600;
  }